# ===================================================================
# tpDcc-libs-qt requirements file
# ===================================================================
Qt.py
metayaml
singledispatch==3.4.0.3;python_version < '3.4'
tpDcc-core
tpDcc-libs-python
